.feedback {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.feedback button {
  width: 32%;
  height: auto;
  font-weight: 700;
  font-size: larger;
  padding: 8px;
  border-radius: 15%;
}
.feedback button:hover {
  background-color: aquamarine;
}
.feedback button:focus {
  border-color: aqua;
}
.feedback button:active {
  background-color: gold;
  border-color: coral;
}
